.profile__name {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 16px;
}

@media screen and (max-width: 767px) {
  .profile__name {
    justify-content: center;
    position: relative;
    left: 14px;
    margin-bottom: 14px;
  }
}