@import url("./vendor/normalize.css");
@import url("./vendor/fonts.css");
@import url("./blocks/content/content.css");

@import url("./blocks/vector-element-opacity/vector-element-opacity.css");

@import url("./blocks/elements/elements.css");
@import url("./blocks/elements/__footer/elements__footer.css");
@import url("./blocks/elements/__image/elements__image.css");
@import url("./blocks/elements/__item/elements__item.css");
@import url("./blocks/elements/__list/elements__list.css");
@import url("./blocks/elements/__likes-counter/elements__likes-counter.css");
@import url("./blocks/elements/__title/elements__title.css");
@import url("./blocks/elements/__likes-container/elements__like-container.css");
@import url("./blocks/elements/__like-button/elements__like-button.css");
@import url("./blocks/elements/__like-button/_liked/elements__like-button_liked.css");
@import url("./blocks/elements/__delete-button/elements__delete-button.css");
@import url("./blocks/elements/__delete-button/_hidden/elements__delete-button_hidden.css");

@import url("./blocks/footer/__title/footer__title.css");

@import url("./blocks/header/header.css");
@import url("./blocks/header/__logo/header__logo.css");

@import url("./blocks/page/page.css");
@import url("./blocks/page/__container/page__container.css");

@import url("./blocks/popup/popup.css");
@import url("./blocks/popup/__close-button/popup__close-button.css");
@import url("./blocks/popup/__close-image/popup__close-image.css");
@import url("./blocks/popup/__container/popup__container.css");
@import url("./blocks/popup/__header/popup__header.css");
@import url("./blocks/popup/__error/_visible/popup__error_visible.css");
@import url("./blocks/popup/__input/popup__input.css");
@import url("./blocks/popup/__input/_type/popup__input_type_error.css");
@import url("./blocks/popup/__submit/popup__submit.css");
@import url("./blocks/popup/__submit/_disabled/popup__submit_disabled.css");
@import url("./blocks/popup/_opened/popup_opened.css");
@import url("./blocks/popup/__content/popup__content.css");
@import url("./blocks/popup/__image/popup__image.css");
@import url("./blocks/popup/__image-header/popup__image-header.css");

@import url("./blocks/profile/profile.css");
@import url("./blocks/profile/__add-button/profile__add-button.css");
@import url("./blocks/profile/__description/profile__description.css");
@import url("./blocks/profile/__edit-button/profile__edit-button.css");
@import url("./blocks/profile/__image/profile__image.css");
@import url("./blocks/profile/__info/profile__info.css");
@import url("./blocks/profile/__name/profile__name.css");
@import url("./blocks/profile/__name-text/profile__name-text.css");
@import url("./blocks/profile/__avatar-edit-button/profile__avatar-edit-button.css");
@import url("./blocks/profile/__avatar-hover/profile__avatar-hover.css");


